// 컬러
$color-blue: #6AA1E3;
$color-blue-light: #A9C9EF;
$color-blue-dark: #2F80ED;
$color-green: #29B09E;
$color-green-light: #61DACA;
$color-green-dark: #165F55;
$color-sand: #F3EADA;
$color-sand-light: #F9F5ED;
$color-sand-lighter: #FAF8F3;   
$color-sand-dark: #DAD2C3;
$color-gray: #828282;
$color-gray-light: #E0E0E0;
$color-black: #333333;
